@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Share+Tech&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


:root {
    --colorletras: #272a38;
    --colorheader: #ffffff;
    --colorespacionave: #6034be;
    --colorentraranave: #642cdf;
    --colordelcuerpo:#fcfbff;
}

* {
    margin: ;
    padding: ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header{
    background-color:#ffffff;
    height: 82px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    border-bottom: 1px solid #cececfec;
    position: fixed ;
    z-index: 1000;
    left: 0px;
   top: 0px;
   width: 100%;
   padding:0px 20px ;
}

.header__contenedor-contenidos{
    display: flex;
    flex-direction: row;
   justify-content: center;
   max-width: 1023px;
   align-items: center;
   background-color:#ffffff;

}


.header__botones{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 350px;
    margin-left: 30px;
}

.header__navelista{
    display: flex;
    flex-direction: row;
    gap: 33px;
    color: #242c37;
 
   
}

ul{
    list-style: none;
}

.divider-line{
    width: 1px;
    height: 25px;
    background-color: #a0a0a0;
    margin-left: 15px;
}

.nave{
    display: flex;
    flex-direction:row;
    text-align:center;
    background-color: #ffffff;
    padding: 10px 35px;
    border-radius: 50px;
    color: #6034be;
    border: solid 1px;color: #6034be;
       
}

.entrar{
    background-color: #642cdf;
    padding: 10px 35px;
    border-radius: 50px;
    border: solid 1px;color: #6034be;
    color: #ffffff;
}

.nave:hover{
    background-color:#d3cbe5;
    padding: 10px  35px;
    color: #4116a0;
    border-radius: 50px;
    border: 1px solid; color: #4116a0;
}

.entrar:hover{
    background-color:#d3cbe5;
    padding: 10px 35px;
    border-radius: 50px;
    border: solid 1px; color: #4116a0;
}

.nave-item:hover{
 background-color:#d3cbe5;
 color:#4116a0; 
   padding: 15px  15px;
   border-radius: 50px;
}

.nave-item{
    padding: 15px 15px;
    background-color: #ffffff;
    border-radius: 50px;
}

.body {
    margin: 0;            
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fcfbff;
    width: 100%;
}

.principal{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 95px;
    font-size: 20px;
    font-weight: bold;
    color: #2b2b2c;

}

.contenido{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #2b2b2c;
    gap: 25px;
}

.clarita{
    font-weight: normal;
    color:#777774;
}

.bi-cash{
    color: #6034be;
    font-size: 25px;
    padding: 17px;
    border-radius: 10px;
    background-color: #f1eafc;
}

.bi-bar-chart-line{
    color: #6034be;
    font-size: 25px;
    padding: 17px;
    border-radius: 10px;
    background-color: #f1eafc;

}
.bi-gear{
    color: #6034be;
    font-size: 25px;
    padding: 17px;
    border-radius: 10px;
    background-color: #f1eafc;
    
}
.historias{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.historias-quevuelan{
    background-color: #360c72;
    padding: 60px;
    border-radius: 40px;
    height: 75px;
    width: 1022px;


}

.ganasmas{

    margin-top: 34px;
}


.vendemas{
    margin-top: 34px;
}
.arriba{
    margin-top: -30px;
    color: #ffffff;
    font-size: 30px;

}

.abajo{
    margin-top: -25px;
    color: #ffffff;
    font-size: 21px;
    font-weight: normal;

}
.conoce-mas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    margin-right: 85px;
    margin-left:700px;
    padding: 20px;
    border-radius: 40px;
    width: 200px;
    background-color:#ffffff;
    color: #6034be;
}

.conoce-mas:hover{
    background-color: #000000;
    color: #ffffff;
}


.cobroidealparte1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mediodecobro{    
    display: flex;
    margin-top: 50px;
    justify-content:center;
    color:#2b2b2c;
    font-size: 40px;
    font-weight: bold;
    
}

.tunegocio{
    display: flex;
    color:#777774;
    font-weight: normal;
    justify-content: center;

}


.segundaparte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;

}
.codigor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.codigoqr2{
    font-size: 30px;
    color: #2c292b;
    font-weight: bold;

}
.cobroideal2{
    font-size: 19px;
    color: #6c6154;
    font-weight: normal;
}
.primeraimagenqr{
    margin-right: 250px;
    height: 200px;
    width: 300px;
    
}
.conocemas2{
    padding: 15px 35px;
    background-color: #652bdf;
    border-radius: 45px;
    position: relative;
    top: 60px;
    color: #ffffff;
    width: 180px;
}


.conocemas2:hover{
    background-color: #360c72;
}

.cobroidealnavepointsegundaparte{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 130px;
    gap: 25px;
}


.pointsolo{
    float: right;
}

.navepoint{
    margin-top: 60px;
    float: right;
}

.navepoint1{
    font-size: 30px;
    color: #2c292b;
    font-weight: bold;

}


.debidoycredito{
    font-size: 19px;
    color: #6c6154;
    font-weight: normal;

}

.conocemas4{
    padding: 15px 35px;
    background-color: #652bdf;
    border-radius: 45px;
    position: relative;
    top: 60px;
    color: #ffffff;

}

.conocemas4:hover{
    background-color: #360c72;
}

.segundaimagen{
    height: 300px;
    width: 400px;
    margin-top: 30px;
    width: 30%;
}

.parteabajo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    gap: 90px;
}

.primerasesion{
    display: flex;
    flex-direction: column;
    
}
.anclas{
display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: normal;

}

.espacio{
    margin:  10px 8px; 
    color: #383632;
    font-weight: normal;
    font-size: 14px;


}

.espacio:hover{
   color:   #4116a0;
    text-decoration: underline;

}

.otrologo{
color: #352726;
font-weight: bold;
margin-left: 8px;
margin-top: 10px;

}
.cobro{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    color: #352726;
}

.Beneficios{
    display: flex;
    flex-direction: column;
    margin-top: 52px; 
    color: #352726;
}

.Interesar{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    color: #352726;
}


.botonhamburguesa {
    font-size: 40px;
    background: none;
    border: none;
    color: #413e3e;
    display: none;
    margin-top: 5px;

}

.logomobile{
    display: none;
}

.segundaparteotro{
    display: none;
}

.cambiarpantallachica{
    display: none;
}

.grid10{
    display: none;
}

@media screen and (max-width: 991px ){

    .botonhamburguesa {
        display: flex;
        text-align: center;
        margin-top: 15px;
        float: left;
        margin-left: -400px;
       
    }
    
    .logomobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -300px;
    }

    .navegador{
        display: none;
    }

    .logo{
        display: none;
    }
    .divider-line{
        display: none;

    }
    .header__botones{
        display: none;
    }
    .principal{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center
        
    }
    .contenido{
        max-width: 600px;
        flex-direction: column;
        align-items: center;
    }

    .historias{
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .historias-quevuelan{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 150px 30px;
        justify-content: center;
        margin-left: 100px;
       
    }

    .arriba{
        margin-top: 10px;
    }
       
    .conoce-mas {
        display: flex;
        margin-left: 0px;
        margin-top: 45px;
     }

    .cobroideal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }
    .cobroidealparte1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 600px;
    }

    .segundaparteotro{
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        
    }
    .primeraimagenqr2{
        display: flex;
        margin-bottom: 20px;
    }


    .segundaparte{
        display: none;
    }

    .codigorotro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 70px;
            
    }
    .codigoqrnuevo{
        font-size: 30px;
        color: #2c292b;
        font-weight: bold;
    }

    .cobroideal10{
        font-size: 19px;
        color: #6c6154;
        font-weight: normal;
    }

    .conocemas98{
    padding: 15px 35px;
    background-color: #652bdf;
    border-radius: 45px;
    color: #ffffff;
    width: 180px;

    }

    .cobroidealnavepointsegundaparte{
        display: none;
    }

    .cambiarpantallachica{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navepointsolo1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }

    .navepoint19{
        font-size: 30px;
        color: #2c292b;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }


    .aceptapagos{
        font-size: 19px;
        color: #6c6154;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    .conocemas40{
        display: flex;
        padding: 15px 35px;
        background-color: #652bdf;
        border-radius: 45px;
        position: relative;
        color: #ffffff;
        width: 180px;

    }

    .parteabajo{
        display: none;
    }

    .grid10{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: row;
        gap: 30px;
         max-height: 1000px;
    }

    .primerasesion100{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-left: 200px;
        margin-top: 50px;

    }

    .otrologo100{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: -200px;
    }

    .anclas100{
        display: flex;
        flex-direction: column;
    }

    .beneficios100{
        display: flex;
        flex-direction: column;
    }

    .cobro100{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .cobro100ultimo{
        display: flex;
        flex-direction: column;
    }

    .espacio100{
        font-size: 13px;
        color:#383632;
        font-weight: normal;
        margin-top: 10px;
    }

    .otrologonave{
        font-size:13px;
        color: #352726;
        margin-top: 5px;
    }
    .beneficios100{
        font-size:13px;
        color: #352726;
        margin-top: 7px;
    }

    .cobro100ultimo{
        font-size:13px;
        color: #352726;
        margin-top: 5px;
    }

    .interesar100{
        font-size:13px;
        color: #352726;
        margin-top: 10px;
    }
}
    
    


